.work-list {
  @include panel-container;
  
  margin-bottom: get-size(900);
  padding-top: get-size(700);

  &__wrapper {
    @include panel-container;
  }

  &__cards {
    @include media-query(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);   
      gap: get-size(max);
    }
  }

  &__card {
    --flow-space: #{get-size(700)};

    img {
      border-radius: 25px 25px 12px 12px;
      box-shadow: var(--theme-box-shadow);
    }

    h3 {
      font-family: get-font(base);
      font-size: get-font-size(600);
      font-weight: 600;
      line-height: 1.2;

      + p {
        font-size: get-font-size(500);
        font-weight: 600;
        margin-top: get-size(300);
      }
    }
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
