.services {
  margin-bottom: get-size(900);
  padding-top: get-size(700);

  &__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 13rem;
    list-style: none;
    margin: 0 3rem 6rem;
    padding-left: 0;
    position: relative;
    transform: none;
    width: auto;
  }

  &__item {
    font-size: get-font-size(600);
    margin-bottom: 1rem;
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
