.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-action-bg);
  border: none;
  color: var(--color-action-text);
  cursor: pointer;
  display: inline-block;
  font-family: get-font(base);
  font-size: get-font-size(base);
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0.8rem get-size('base');
  text-decoration: none;
}

.button:hover,
.button:focus {
  filter: brightness(1.2);
}

.button:focus:hover {
  outline: none;
}

.button:focus:not(:hover) {
  outline-offset: -4px;
  outline: 1px solid var(--color-action-text);
}

.button:active {
  transform: scale(0.99);
}
