.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-action-bg);
  border: 1px solid var(--color-grey);
  border-radius: 25px;
  color: var(--color-action-text);
  cursor: pointer;
  display: inline-block;
  font-size: get-font-size(base);
  line-height: 1;
  margin: 0;
  padding: 0.7rem calc(get-size('base') - 0.1rem);
  text-decoration: none;
  transition: background-color .1s ease-in, border-color .1s ease-in, color .1s ease-in;

  &:hover,
  &:focus {
    background-color: var(--color-theme-primary);
    border-color: var(--white);
    color: var(--color-white);
  }
  
  &__alternate {
    background-color: transparent;
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: var(--color-theme-primary);
      border-color: var(--color-white);
      color: var(--color-white);
  
      svg {
        stroke: var(--color-white);
      }
    }
  }

  &__arrow-link {
    @include button-reset;
    //background-color: transparent;
    border: 0;
    //color: var(--color-white);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--color-black);
      filter: none;
  
      svg {
        animation: arrow-animation .3s;
      }
    }
  
    svg {
      margin-left: .5rem;
    }

    &--large {
      color: var(--color-black);
      font-size: get-font-size(600);
      font-weight: 700;

      svg {
        position: relative;
        top: 3px;
      }
    }
  }
}



.button:focus:hover {
  outline: none;
}

.button:active {
  transform: scale(0.99);
}

.button--arrow {
  background-color: var(--color-theme-primary);
  color: var(--color-white);
  font-size: get-font-size(300);
  text-transform: uppercase;

  svg {
    margin-left: .5rem;
    stroke: var(--color-white);
  }

  &:hover {
    filter: none;

    svg {
      animation: arrow-animation .3s;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--color-white);
    color: var(--color-theme-primary);

    svg {
      stroke: var(--color-theme-primary);
    }
  }


}

.button--inverse {
  background-color: var(--color-white);
  color: var(--color-theme-primary);

  svg {
    stroke: var(--color-theme-primary);
  }

  &:hover,
  &:focus {
    background-color: var(--color-theme-primary);
    color: var(--color-white);

    svg {
      stroke: var(--color-white);
    }
  }
}


@keyframes arrow-animation {
  0%   { transform: translateX(0); }
  50%   { transform: translateX(3px); }
  100%  { transform: translateX(0); }
}