.cta {
  background-color: var(--color-primary);

  &__inner {
    @include panel-container;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.75rem 1.5rem;
  }

  &__text {
    color: var(--color-white);
    font-size: get-font-size(700);
  }
}