.cta {
  background-color: var(--color-primary);

  &__inner {
    @include panel-container;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;

    @include media-query(md) {
      padding: 3.75rem 1.5rem;
    }
  }

  &__text {
    color: var(--color-white);
    font-size: get-font-size(600);
    

    @include media-query(md) {
      font-size: get-font-size(700);
    }
  }

  &__button {
    margin-left: 2rem;
    min-width: 140px;
  }
}