.cards-icon-roll-up {
    padding: 3.25rem 0;

    &__inner {
        @include panel-container;
        
        text-align: center;
    }

    &__heading {
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
    }

    &__heading,
    &__list {
        padding-bottom: 3rem;
    }

    &__items {
        @include media-query(sm) {
            display: grid;
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-query(lg) {
            gap: 4rem 8rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        text-align: left;


        * {
            color: var(--color-text);
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            padding: 1.25rem 0 1.5rem;
        }

        &__summary {
            max-width: 30rem;
        }
    }

    &__link {
        display: grid;
        grid-auto-rows: 1fr;
        text-decoration: none;
    }
}

