.intro {
  background: var(--color-theme-highlight-block);
  padding: get-size(900) 0 get-size(max) 0;

  &__wrapper {
    @include panel-container;
  }

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-font-size(500);
    line-height: 1.5;
    margin-top: 1em;
    margin-top: var(--flow-space);
    max-width: 60ch;

    .button,
    button {
      margin-top: 1em;
      margin-top: var(--flow-space);
    }

    a:not(.button) {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    color: var(--color-theme-feature-text);
    line-height: 1.2;
    max-width: 40ex;

    &--compact {
      max-width: 20ex;
    }
  }
}
