.nav {
  margin-left: auto;

  &__list {
    align-items: center;
    display: flex;
    overflow-x: auto;
    // Add padding and neg margin to allow focus style visibility
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    list-style: none;
    margin: -0.5rem;
    padding: 0.5rem;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }

    @include media-query(md) {
      justify-content: flex-end;
    }
  }

  &__sublist {
    background: var(--color-selection-bg);
    color: var(--color-selection-text);
    display: none;
    padding: 0 24px;
    position: absolute;
  }

  &__item {
    flex-shrink: 0;
    padding: get-size(300) 0;

    &:hover .nav__sublist {
      display: block;
    }

    a {
      color: currentColor;
      font-weight: 600;

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}
