.portfolio-rollup {
  @include panel-container;
  
  margin-bottom: get-size(900);
  padding-top: get-size(700);

  &__wrapper {
    @include panel-container;
  }

  &__cards {
    @include media-query(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);   
      gap: get-size(max);
    }
  }

  &__card {
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    position: relative;

    &-link {
      color: var(--color-white);
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;

      &--dark {
        color: var(--color-black);
      }
    }

    picture {
      margin: auto;
    }

    h3 {
      font-family: get-font(base);
      font-size: get-font-size(600);
      font-weight: 600;
      line-height: 1.2;
      padding: 0 0 3rem 3rem;

    }
  }

  &__overlay {
    background-color: white;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
