.portfolio-rollup {
  @include panel-container;
  
  margin-bottom: get-size(900);
  padding-top: get-size(700);

  &__wrapper {
    @include panel-container;
  }

  &__cards {
    @include media-query(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);   
      gap: get-size(max);
    }
  }

  &__card {
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    padding: 5rem 4rem 4rem 4rem;
    position: relative;

    &-link {
      color: var(--color-white);
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
    }

    picture {
      margin: auto;

      img {
        max-height: 450px;
        width: auto;
      }
    }

    svg {
      fill: var(--color-white);
    }

    &--dark,
    &--dark > * {
      color: var(--color-black);
      fill: var(--color-black);
    }

    &--dark svg {
      fill: var(--color-black);
    }

    &:hover {
      .portfolio-rollup__overlay {
        transform: translateY(0);
        height: 100%;
        padding: 5rem 4rem 4rem 4rem;
        transition: height .3s ease-in-out;
      }
    }
  }

  &__overlay {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    width: 100%;

    &-description {
      padding-bottom: 1rem;
      font-size: 20px;
    }

    &-category {
      padding-bottom: 1rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-client {
      font-weight: 700;
      padding-bottom: 1rem;
    }

    &-cta {
      font-size: 1.75rem;
      margin-top: auto;

      svg {
        margin-left: 0.5rem;
        position: relative;
        top: 3px;
      }
    }
  }
}
