.work-panel {
  justify-content: center;
  overflow: hidden;
  padding: 1.5rem 0;

  @include media-query(lg) {
    padding: 4rem 0;
    &--bottom {
      padding-bottom: 0;

      .work-panel__image {
        border-radius: 0 75px 0 0;
      }
    }
  }

  &__inner {
    @include panel-container;
    padding: 0;
    text-align: center;

    @include media-query(lg) {
      align-items: center;
      display: flex;
      margin: 0 auto;
    }
  
  }

  &__heading {
    margin-bottom: 3.5rem;
    text-transform: uppercase;
  }

  &__image {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 2rem;
    padding: 2.5rem 1.5rem;

    img {
      @include media-query(xxl) {
        max-width: 125%;
        margin-left: -25%;
      }
     }

    &--reverse {

      img {
        @include media-query(xxl) {
          margin-left: unset;
        }
       }
    }

    @include media-query(lg) {
      border-radius: 0 75px 75px 0;
      margin: 0;
      padding: 6rem 6rem 6rem 0;
      position: relative;

      &:after {
        background-color: inherit;
        bottom: 0;
        content: '';
        position: absolute;
        right: 75px;
        top: 0;
        width: 100vw;
        z-index: -1;
      }

      &--reverse {
        border-radius: 75px 0 0 75px;
        margin: 0;
        order: 2;
        padding: 6rem 0 6rem 6rem;

        &:after {
          left: 75px;
          right: unset;
        }
      }
    }
  }

  &__text {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    text-align: left;

    @include media-query(lg) {
      grid-template-columns: repeat(2, 1fr);
      padding: 1.5rem 0 1.5rem 3.5rem;
      width: 40%;
    }

    &--reverse {
      order: 1;

      @include media-query(lg) {
        padding: 1.5rem 3.5rem 1.5rem 0;
        justify-self: flex-end;
      }
    }

    &-title {
      font-weight: 500;
      padding-bottom: 2rem;
    }

    &-summary {
      font-size: 18px;
      line-height: 1.65;
      padding-bottom: 2.5rem;
    }
  }
}