.portfolio-featured-panel-small {
  padding: 1.5rem 0;

  @include media-query(md) {
    padding: calc(4.5rem + 3rem) 0;
  }

  &__inner {
    @include panel-container;
  }

  &__heading {
    margin: 2rem 0;
  }

  &__content {
    background-color: var(--color-grey-light);
    border-radius: 8px;
    padding: 2rem;

    > .portfolio-featured-panel-small__heading {
      padding-bottom: .5rem;
      
      @include media-query(md) {
        display: none;
      }
    }

    @include media-query(md) {
      display: flex;
      justify-content: space-between;
      padding: 0 2rem;
    }

    @include media-query(lg) {
      padding: 0 5rem;
    }
  }

  &__image {
    height: auto;
    padding-bottom: 2rem;
    width: 100%;
    
    @include media-query(md) {
      margin-bottom: -3rem;
      width: 45%;
      padding-right: 2rem;
      position: relative;
      top: -72px;
    }

    &--reverse {
      order: 2;
      
      @include media-query(md) {
        padding-left: 2rem;
        padding-right: 0;
      }
    }

    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__text {
    @include media-query(md) {
      width: 55%;
    }
  }

  &__description {
    margin-bottom: 2rem;
  }

  .button {
    margin-bottom: 2rem;
  }
}