.post-list {
  margin-bottom: get-size(900);
  padding-top: get-size(700);

  &__wrapper {
    @include panel-container;
  }

  &__heading {
    font-size: get-font-size(700);

    @include media-query(md) {
      font-size: get-font-size(800);
    }
  }

  &__items {
    --flow-space: #{get-size(base)};
    margin-top: 1em;
    margin-top: var(--flow-space);
    padding-top: get-size(300);

    > * + * {
      margin-top: 1em;
      margin-top: var(--flow-space);
    }
  }

  &__item {
    --flow-space: #{get-size(700)};

    h3 {
      font-size: get-font-size(600);
      font-weight: 600;
      line-height: 1.2;

      + p {
        font-size: get-font-size(500);
        font-weight: 600;
        margin-top: get-size(300);
      }
    }
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
