.post {
  &__body {
    @include panel-container;
    max-width: 52rem;
    font-size: get-font-size(base);
    line-height: 1.7;
    padding: 0 get-size(500) get-size(900) get-size(500);

    > * + * {
      margin-bottom: 2.44rem;
    }

    a:not([class]) {
      background: var(--color-theme-highlight);
      color: var(--color-dark);
      display: inline-block;
      line-height: 1.2;
      padding: 0.2rem 0.4rem 0.3rem 0.4rem;
      position: relative;
      text-decoration: none;
      word-break: break-word;
    }

    a:not([class]):hover {
      text-decoration: underline;
    }
  }
}

