.service-panel {
  background-color: var(--color-grey-light);
  padding: 1.5rem 0;

  @include media-query(md) {
    padding: calc(10.5rem) 0;
  }

  &__inner {
    @include panel-container;
  }
  
  &__heading {
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
    top: -72px;
  }

  &__card {
    border-radius: 8px;
    background-color: var(--color-white);
    display: flex;

    &-heading {
      font-weight: 500;

      @include media-query(md) {
        position: relative;
        top: -2.5rem;
      }
   }

   &-image {
    height: auto;
    padding-bottom: 2rem;
    padding: 0 2rem 2rem 2rem;
    width: 100%;
    
    @include media-query(md) {
       margin-bottom: -3rem;
       max-width: 400px;
       position: relative;
       top: -72px;
    }

    &--reverse {
      order: 2;
    
    }

    img {
      width: 100%;
    }
  }

   &-contents {
    .button--arrow {
      margin-bottom: 2rem;
    }
   }
  }

  &__content {
    @include media-query(md) {
      display: grid;
      gap: 7rem 2rem;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }

  &__list {
    list-style: none;
    padding: 0 0 2rem 0;
  }

  &__link {
    align-items: center;
    color: var(--color-black);
    display: flex;
    font-size: 15px;
    padding-bottom: 1rem;
    text-decoration: none;
    width: 100%;

    @include media-query(md) {
      font-size: 16px;
    }

    svg {
      padding-right: .5rem;
    }
  }
}