.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  border-top: 1px solid var(--color-stroke);
  color: var(--color-text);
  padding: 9rem 0 0 0;

  &__wrapper {
    @include panel-container;
  }

  &__row {
    &:last-of-type {
      align-items: center;
      border-top: 1px solid var(--color-theme-primary);
      padding: 1rem 0;
    }

    @include media-query(md) {
      display: flex;
      justify-content: space-between;

      &:first-of-type {
        padding-bottom: 6rem;
      }
    }
  }

  &__link {
    color: var(--color-black);
    font-size: get-font-size(500);
    text-decoration: none;

    &-list {
      &-item {
        line-height: 1;
        padding-bottom: 1rem;

        &--header {
          font-size: 22px;
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }

  &__credit {
    text-align: center;
  }
}
