.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  border-top: 1px solid var(--color-stroke);
  color: var(--color-text);
  padding: 3rem 0 0 0;

  @include media-query(md) {
    padding: 9rem 0 0 0;
  }

  &__wrapper {
    @include panel-container;
  }

  &__row {
    text-align: center;

    &:last-of-type {
      border-top: 1px solid var(--color-theme-primary);
      padding: 1rem 0;
    }

    @include media-query(md) {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      text-align: left;

      &:first-of-type {
        padding-bottom: 6rem;
      }
    }
  }

  &__link {
    color: var(--color-black);
    font-family: get-font(base);
    font-size: get-font-size(base);
    text-decoration: none;

    @include media-query(md) {
      font-size: get-font-size(base);
    }

    &-list {
      margin-bottom: 2rem;

      @include media-query(md) {
        min-width: 140px;
      }

      &-item {
        line-height: 1;
        margin-bottom: 2rem;
        text-transform: uppercase;

        &--header {
          font-size: 14px;
          font-weight: 700;


          @include media-query(md) {
            font-size: 16px
          }
        }
      }
    }
  }

  &__credit {
    padding-bottom: 1rem;
    
    @include media-query(md) {
      padding: 0;
    }
  }

  &__logo {
    height: auto;
    margin-bottom: 3rem;
    max-width: 200px;

    @include media-query(md) {
      margin-bottom: 0;
      max-width: 323px;
    }

    &-container {
      @include media-query(md) {
        width: 25%;
      }
    }
  }
}
