.site-head {
  padding: get-size(base) 0;

  &__wrapper {
    @include panel-container;
  }

  &__site-name {
    display: inline-block;
    line-height: 0;

    @include media-query(md) {
      padding: get-size(base) get-size(base) get-size(base) 0;
    }
  }

  &__inner {
    display: block;
    flex-direction: column;
    line-height: 0;
    position: relative;

    @include media-query(md) {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: initial;
    }
  }

  .site__logo {
    height: 35px;
    width: auto;
    display: none;

    @include media-query(xl) {
      display: block;
    }

    &--stacked {
      display: block;
      height: 54px;

      @include media-query(xl) {
        display: none;
      }
    }

    &--dark {
      display: none;
    }
  }
}

// @include dark-mode {
//   .site__logo {
//     display: none;
//   }

//   .site__logo--dark {
//     display: none;

//     @include media-query(xl) {
//       display: block;
//     }
//   }
//   .site__logo--stacked.site__logo--dark {
//     display: block;

//     @include media-query(xl) {
//       display: none;
//     }
//   }
// }
