.site-head {
  padding: get-size(700);

  &__wrapper {
    @include wrapper;
  }

  &__site-name {
    color: var(--color-text);
    font-size: get-size(600);
    font-weight: 700;
    outline: none;
    text-decoration: none;
  }

  &__inner {
    align-items: center;
    display: flex;

    @include media-query(md) {
      justify-content: flex-end;
    }
  }
}
