theme-toggle {
  padding: 0 0 0 get-size(700);
  position: absolute;
  right: 0;
  top: 20px;

  @include media-query(md) {
    position: static;
  }

  .button-dark-mode {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border-radius: 50%;
    border: none;
    content: '';
    cursor: pointer;
    display: block;
    line-height: 0;
    margin: 0;
    outline: none;
    outline: none;
    padding: 0;

    svg {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    ~ .js-tooltip-text {
      cursor: pointer;
      text-transform: capitalize;
    }

    &:hover {
      border-radius: 50%;

      &:before {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }

      svg {
        opacity: 0;
        transition-delay: 0.05s;
        transition: opacity 0.2s ease-in-out;
      }
    }

    &::before {
      background: var(--color-theme-icon);
      border-radius: 50%;
      box-shadow: var(--color-theme-toggle-shadow);
      content: '';
      display: block;
      filter: brightness(1);
      height: 20px;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity 0.5s ease-in-out;
      width: 20px;
    }

    &::after {
      content: '';
      display: block;
      height: 12px;
      left: 50%;
      position: absolute;
      top: 20px;
      transform: translateX(-50%) translateY(0);
      width: 40px;
      z-index: 1;
    }

    &:hover ~ .js-tooltip-text {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      visibility: visible;
    }

    &:active {
      ~ .js-tooltip-text {
        visibility: hidden;
      }

      &:before {
        filter: brightness(1.2);
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
      }
    }

    &:focus ~ .js-tooltip-text {
      visibility: hidden;
    }

    &::before:hover ~ .js-tooltip-text {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      visibility: visible;
    }
  }
}
