theme-toggle {
  display: block;
  padding: 0 0 0 get-size(500);
  vertical-align: middle;

  @include media-query(md) {
    position: static;
  }

  .button-dark-mode {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    background: var(--color-theme-toggle-bg);
    border-radius: 5px;
    border: none;
    content: '';
    cursor: pointer;
    display: block;
    line-height: 0;
    margin: 0;
    outline: none;
    padding: .5rem;

    svg {
      display: inline-block;
      height: 1em;
      line-height: 1em;
      stroke: var(--color-theme-toggle-icon);
      transition: opacity 0.3s ease-in-out;
      width: 1em;
    }

    ~ .js-tooltip-text {
      cursor: pointer;
      text-transform: capitalize;
    }

    &:hover {
      filter: brightness(1.2);
      transition: filter 0.3s ease-in-out;
    }

    &::after {
      content: '';
      display: block;
      height: 12px;
      left: 50%;
      position: absolute;
      top: 20px;
      transform: translateX(-50%) translateY(0);
      width: 40px;
      z-index: 1;
    }

    &:hover ~ .js-tooltip-text {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      visibility: visible;
    }

    &:active {
      ~ .js-tooltip-text {
        visibility: hidden;
      }

      &:before {
        filter: brightness(1.2);
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
      }
    }

    &:focus ~ .js-tooltip-text {
      visibility: hidden;
    }

    &::before:hover ~ .js-tooltip-text {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      visibility: visible;
    }
  }
}
