.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .js-tooltip-text {
  background-color: var(--color-selection-bg);
  border-radius: 3px;
  color: var(--color-selection-text);
  font-size: 10px;
  left: 50%;
  min-width: 70px;
  opacity: 0;
  padding: 3px;
  position: absolute;
  text-align: center;
  top: 40px;
  transform: translateX(-50%) translateY(0);
  visibility: hidden;

  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip .js-tooltip-text::before {
  border-color: transparent transparent var(--color-selection-bg) transparent;
  border-style: solid;
  border-width: 5px;
  bottom: 100%;
  content: '';
  left: 50%;
  margin-left: -5px;
  position: absolute;
}
