<section class="cta">
  <div class="cta__inner">
    <div class="cta__text">
      {{ props.text }}
    </div>
    <div class="cta__button">
      {{ button_link(props.buttonText, props.buttonPath, true) }}
    </div>
  </div>
</section>