<header class="hero">
	<div class="hero__inner">
		<div class="hero__text-content">
			{% if props.heroHeading %}
				<h1 class="hero__heading">{{ props.heroHeading | safe }}</h1>
			{% endif %}
			{% if props.heroHeading2 %}
				<h1 class="hero__heading">{{ props.heroHeading2 | safe }}</h1>
			{% endif %}
			{% if props.heroHeading3 %}
				<h1 class="hero__heading">{{ props.heroHeading3 | safe }}</h1>
			{% endif %}
			{% if props.heroServices %}
				<span class="hero__services-label">Competencies:</span>
				<div class="hero__services">
					{% for service in props.heroServices %}
						{{ button_link_alternate(service.heroServiceLinkText, service.heroServiceLinkUrl, false) }}
					{% endfor %}
					{{ arrow_link('See the full list', '/services') }}
				</div>
				<div class="hero__help">
			{% endif %}
				<div class="hero__help-text">
					Need help on your next web project?
				</div>
				{{ button_link("Let's Chat", '/contact', true) }}
			</div>
		</div>
		<div class="hero__image-wrapper">
			{% if props.heroImage %}
				{% image props.heroImage, 'Stargazing', 'hero__image', "eager", "(min-width: 36rem) 100vw, 50vw", ['400', '450', '500', '600'] %}
			{% endif %}
		</div>
	</div>
</header>