  <section class="services-list">
    <div class="services-list__wrapper">
      <h2 class="services-list__heading">{{ servicesHeading }}</h2>
      <ul class="services-list__items">
        <li class="services__item">Website Development</li>
        <li class="services__item">E-commerce</li>
        <li class="services__item">UX/UI Design</li>
        <li class="services__item">SharePoint Development</li>
        <li class="services__item">Craft CMS</li>
        <li class="services__item">JAMstack</li>
        <li class="services__item">Shopify</li>
    </ul>
  </div>
</section>
