{% if page.url == ('/') %}{% set homeClass = 'isHome' %}{% endif %}

{% if navigation.items %}
  <nav class="nav" aria-label="{{ariaLabel}}">
    <button class="nav__button{% if page.url == ('/') %} nav__button--isHome{% endif %}" id="nav" aria-label="toggle navigation menu">
      {% svg "nav" %}
      {% svg "close" %}
    </button>
    <div class="nav__wrapper">
      <a aria-label="Tway Logo" href="/" class="site-head__site-name">
        {% if page.url == ('/') %}
          <svg class="site__logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 188 96">
            <path stroke="#fff" stroke-width="3" d="M93 22.215v-10l92.65-10v91.57l-92.65-10v-10"/>
            <path fill="#fff" d="M25.24 34.375H10.35v-9.1c0-.04.023-.06.07-.06h38.8v9.16H34.4v36.34c0 .046-.02.07-.06.07h-9.1v-36.41Zm101.27-9.16v.06l-14.63 45.44v.07h-9.55l-.07-.07-9.81-30.48-9.82 30.48v.07h-9.55l-.07-.07-14.62-45.44v-.06h9.62l9.81 30.48 9.82-30.48h9.62l9.81 30.48 9.82-30.48h9.62Zm0 30.22h-.07v-.06l4.94-15.28c0-.127.023-.127.07 0l4.94 15.28v.06h-9.88Zm12.8 9.04 2.02 6.24-.07.07h-19.69l-.07-.07 2.02-6.24h15.79Zm36.34-39.26v.06l-14.37 31.14-.45 1.04v13.26c0 .046-.024.07-.07.07h-9.1v-13.33l-.52-1.04-14.36-31.14v-.06h10.07l9.36 20.28 9.36-20.28h10.08Z"/>
          </svg>

        {% else %}
          {% image 'images/logo-dark.png', 'Tway', 'site__logo', "eager", "100vw", ['105'] %}
        {% endif %}
      </a>
      <ul class="nav__list">
        {% for item in navigation.items %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% set currentClass = '' %}

          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}

          {% if page.url == (item.url + '/') %}
            {% set currentAttribute = ' aria-current="page"' %}
            {% set currentClass = 'nav__item--active' %}
          {% endif %}
          <li class="nav__item {{ currentClass | safe }}">
          {# <li class="nav__item{% if item.items %} nav__item--has-level-2{% endif %} {{ currentClass | safe }}"> #}
            <a class="nav__item-link{% if page.url == ('/') %} nav__item-link--isHome{% endif %}" href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}><span class="nav__item-link-text">{{ item.text }}</span></a>
            {# <a class="nav__item-link nav__item-link--isHome" href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}><span class="nav__item-link-text">{{ item.text }}</span>{% if item.items %}{% svg "chevron" %}{% endif %}</a> #}
            {# {% if item.items %}
              <ul class="nav__sublist">
                {% for item in item.items %}
                  {% set relAttribute = '' %}
                  {% set currentAttribute = '' %}
                  {% set currentClass = '' %}

                  {% if item.rel %}
                    {% set relAttribute = ' rel="' + item.rel + '"' %}
                  {% endif %}

                  {% if page.url == (item.url + '/') %}
                    {% set currentAttribute = ' aria-current="page"' %}
                    {% set currentClass = 'nav__item--active' %}
                  {% endif %}

                  <li class="nav__item nav__item-level-2 {{ currentClass | safe }}">
                    <a class="nav__item-link nav__item-link-level-2" href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>
                      <span class="nav__item-link-text">{{ item.text }}</span>
                    </a>
                    {% if item.items %}
                      <ul class="nav__list-level-3">
                        {% for item in item.items %}
                          <li class="nav__item nav__item-level-3 {{ currentClass | safe }}">
                            <a class="nav__item-link nav__item-link-level-3" href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>
                              <span class="nav__item-link-text">{{ item.text }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %} #}
          </li>
        {% endfor %}
        {% from "macros/macros.njk" import button_link_inverse %}
      </ul>
        <div class="nav__secondary">
          <div class="nav__contact">
          {{ button_link_inverse("Get an estimate", "/contact", true) }}
          </div>
          <div class="nav__theme">
            <theme-toggle></theme-toggle>
          </div>
          {% include "partials/components/social-icons.njk" %}
        </div>
    </div>
  </nav>
{% endif %}