{% for block in page_sections %}
    {% if block.template === 'image-text-panel' %}
        {{ component('image-text-panel', {
            title: block.title,
            summary: block.summary,
            buttonText: block.buttonText,
            buttonPath: block.buttonPath,
            imageURL: block.imageURL,
            imageAlt: block.imageAlt,
            imagePosition: block.imagePosition,
            backgroundColor: block.backgroundColor,
            fullBleed: block.fullBleed
        }) }}

    {% elseif block.template === 'work-panel' %}
        {{ component('work-panel', {
            title: block.title,
            summary: block.summary,
            buttonText: block.buttonText,
            buttonPath: block.buttonPath,
            imageURL: block.imageURL,
            imageAlt: block.imageAlt,
            imagePosition: block.imagePosition,
            backgroundColor: block.backgroundColor,
            isBottom: block.isBottom
        }) }}
    
    {% elseif block.template === 'text-area' %}
        {{ block.text | safe }}

    {% elseif block.template === 'image-with-caption' %}
        {{ component('image-with-caption', {
            image: block.image,
            imageAlt: block.imageAlt,
            imageCaption: block.imageCaption,
            fullBleed: block.fullBleed
        }) }}

    {% elseif block.template === 'cards-with-icon' %}
        {{ component('cards-icon-panel', {
            cards: block.cards,
            heading: block.heading,
            buttonText: block.buttonText,
            buttonPath: block.buttonPath,
            backgroundColor: block.backgroundColor
        }) }}

    {% elseif block.template === 'service-panel' %}
        {{ component('service-panel', {
            title: block.title,
            links: block.links,
            image: block.image,
            imageAlt: block.imageAlt,
            imagePosition: block.imagePosition
        }) }}

    {% elseif block.template === 'call-to-action' %}
        {{ component('call-to-action', {
            text: block.text,
            buttonText: block.buttonText,
            buttonPath: block.buttonPath
        }) }}

    {% elseif block.template === 'blockquote' %}
        <blockquote>
            <p>
                {{ block.text }}
            </p>
        </blockquote>
    {% endif %}
{% endfor %}