{% if props.imagePosition === 'Left' %}
  {% set imageClass = 'portfolio-featured-panel-small__image' %}
  {% else %}
  {% set imageClass = 'portfolio-featured-panel-small__image portfolio-featured-panel-small__image--reverse' %}
{% endif %}  

<section class="portfolio-featured-panel-small">
  <div class="portfolio-featured-panel-small__inner">
    <h2 class="technologies__heading">Related Work</h2>
    <div class="portfolio-featured-panel-small__content">
      <div class="{{imageClass}}">
        {% image props.image, props.imageAlt, null, "lazy", "(min-width: 36rem) 100vw, 50vw", ['400', '450', '500', '600', '700'] %}
      </div>
      <div class="portfolio-featured-panel-small__text">
        <h2 class="portfolio-featured-panel-small__heading">{{ props.title }}</h2>
        <div class="portfolio-featured-panel-small__description">
          {{ props.description }}
        </div>
          {{ button_link(props.buttonText, props.buttonPath, true) }}
      </div>
    </div>
  </div>
</section>
