{% from "macros/macros.njk" import button_link %}

<section class="portfolio-content-panel">
  <div class="portfolio-content-panel__inner">
    {% if props.showMeta === true %}
      <aside class="portfolio-content-panel__meta">
        <div class="portfolio-content-panel__meta-label">Client</div>
        <div class="portfolio-content-panel__meta-data">{{ props.client }}</div>

        <div class="portfolio-content-panel__meta-label">Year</div>
        <div class="portfolio-content-panel__meta-data">{{ props.year }}</div>

        <div class="portfolio-content-panel__meta-label">Category</div>
        <div class="portfolio-content-panel__meta-data">{{ props.category }}</div>

        <div class="portfolio-content-panel__meta-label">Expertise</div>
        <div class="portfolio-content-panel__meta-data">{{ props.expertise }}</div>
      </aside>
    {% endif %}
    <div class="portfolio-content-panel__column">
      {% if props.title.length %}
        <div class="portfolio-content-panel__title">{{ props.title }}</div>
      {% endif %}
      {% if props.summary.length %}
        <div class="portfolio-content-panel__summary">{{props.summary | safe }}</div>
      {% endif %}
      {% if props.showButton === true %}
        {{ button_link(props.buttonText, props.buttonPath, true) }}
      {% endif %}
    </div>
  </div>
</section>
