{% if portfolioListItems.length %}
  <section class="portfolio-rollup">
    <div class="panel__container">
      <h2 class="portfolio-rollup__heading panel__heading">{{ portfolioListHeading }}</h2>
        <div class="portfolio-rollup__cards">
          {% set count = 0 %}
          {% for item in portfolioListItems %}
            {% set count = count + 1 %}
            {% set bgClass = "portfolio-rollup__card--" + count %}
            {% if item.data.rollupCardBackgroundColor %}
                {% set colorHex = item.data.rollupCardBackgroundColor %}
              {% else %}
                {% set colorHex = 'transparent' %}
            {% endif %}
            {% if item.date.getTime() <= global.now %}
              {% if item.data.rollupBackgroundImage %}


              {% endif %}
              <div class="portfolio-rollup__card {{bgClass}}" style="background-color: {{colorHex}}">
                <a
                  href="{{ item.url }}" 
                  class="portfolio-rollup__card-link {% if item.data.useDarkTitle === true %} portfolio-rollup__card-link--dark{% endif %}"
                >
                  {% if item.data.rollupImage %}
                    {% image item.data.rollupImage, "hi", null, "lazy", "(min-width: 36rem) 100vw", ['400', '450', '500'] %}
                  {% endif %}
                  <h3>
                    {{ item.data.client }}
                  </h3>
                </a>
                <div class="portfolio-rollup__overlay"></div>
              </div>
                {% if item.data.rollupBackgroundImage %}
                  <style>
                    {% cssBackground item.data.rollupBackgroundImage, '.' + bgClass, ['640'] %}
                  </style>
                {% endif %}

            {% endif %}
          {% endfor %}
        </div>
    </div>
  </section>
{% endif %}

