{% if portfolioListItems.length %}
  <section class="portfolio-rollup">
    <div class="panel__container">
      <h2 class="portfolio-rollup__heading panel__heading">{{ portfolioListHeading }}</h2>
        <div class="portfolio-rollup__cards">
          {% set count = 0 %}
          {% for item in portfolioListItems %}
            {% set count = count + 1 %}
            {% set bgClass = "portfolio-rollup__card--" + count %}
            {% if item.data.rollupCardBackgroundColor %}
                {% set colorHex = item.data.rollupCardBackgroundColor %}
              {% else %}
                {% set colorHex = 'transparent' %}
            {% endif %}
              {% if item.data.rollupCardOverlayBackgroundColor %}
                {% set overlayColorHex = item.data.rollupCardOverlayBackgroundColor %}
              {% else %}
                {% set overlayColorHex = item.data.rollupCardBackgroundColor %}
            {% endif %}
            {% if item.date.getTime() <= global.now %}
              <div class="portfolio-rollup__card {{bgClass}}{% if item.data.useDarkTitle === true %} portfolio-rollup__card--dark{% endif %}" style="background-color: {{colorHex}}">
                <a
                  href="{{ item.url }}" 
                  class="portfolio-rollup__card-link"
                >
                  {% if item.data.rollupImage %}
                    {% image item.data.rollupImage, "hi", null, "lazy", "(min-width: 36rem) 100vw", ['400', '450', '500'] %}
                  {% endif %}
                  <h1 class="portfolio-rollup__overlay-client">
                    {{ item.data.client }}
                  </h1>
                  <div class="portfolio-rollup__overlay" style="background-color: {{overlayColorHex}}">
                    <h3 class="portfolio-rollup__overlay-category">
                      {{ item.data.category }}
                    </h3>
                    <h1 class="portfolio-rollup__overlay-client">
                      {{ item.data.client }}
                    </h1>
                    <p class="portfolio-rollup__overlay-description">
                      {{ item.data.rollupCardDescription }}
                    </p>
                    <div class="portfolio-rollup__overlay-cta">
                      <span>Learn More</span> {% svg "arrow-large"%}
                    </div>
                  </div>
                </a>
              </div>
                {% if item.data.rollupBackgroundImage %}
                  <style>
                    {% cssBackground item.data.rollupBackgroundImage, '.' + bgClass, ['640'] %}
                  </style>
                {% endif %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </section>
{% endif %}

