{% from "macros/macros.njk" import button_link %} 

{% if props.serviceCards.length %}
  <section class="service-panel">
    <div class="service-panel__inner">
      <h2 class="service-panel__heading">{{ props.title }}</h2>
      <div class="service-panel__content">
        {% for card in props.serviceCards %}
          {{ card | log }}
          <div class="service-panel__card">
            {% if card.image.length %}
              {% if card.imagePosition === 'Left' %}
                {% set imageClass = 'service-panel__card-image' %}
                  {% else %}
                {% set imageClass = 'service-panel__card-image service-panel__card-image--reverse' %}
              {% endif %} 
              <div class="{{imageClass}}">
                {% image card.image, card.imageAlt, null, "lazy", "(min-width: 36rem) 100vw, 50vw", ['400', '450', '500', '600', '700'] %}
              </div>
            {% endif %}
            <div class="service-panel__card-contents">
              <div class="service-panel__items">
                <h3 class="service-panel__card-heading">{{ card.cardTitle }}</h3>
                <ul class="service-panel__list">
                  {% for item in card.serviceItems %}
                    <li class="service-panel__item">
                      <a href="{{ card.cardLinkPath }}" class="service-panel__link" rel="bookmark">
                        {% svg "check" %}
                        {{ item.serviceItem }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% if card.cardLinkText.length and card.cardLinkPath.length %}
                {{ button_link(card.cardLinkText, card.cardLinkPath, true) }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
