<nav class="social-icons">
  <ul class="social-icons__list">
    <li class="social-icons__item">
      <a aria-label="LinkedIn" href="#">
        {% svg "linkedin" %}
      </a>
    </li>

    <li class="social-icons__item">
      <a aria-label="Facebook" href="#">
        {% svg "facebook" %}
      </a>
    </li>
  </ul>
</nav>