<a class="skip-link" href="#main-content">Skip to content</a>
{% if page.url == ('/') %}
  {% set homeClass = ' site-head--isHome' %}
{% endif %}
<header role="banner" class="site-head{{homeClass}}">
  <div class="site-head__wrapper">
    <div class="site-head__inner">
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
