<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="site-head__wrapper">
    <div class="site-head__inner">
      <a aria-label="Tway Logo" href="/" class="site-head__site-name">
        Tway
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
