<footer role="contentinfo" class="site-foot">
  <div class="site-foot__wrapper">
    <div class="site-foot__inner">
      {% if site.shortDesc %}
        <div>
          <article class="site-foot__details">
            <h2 class="font-base text-600">{{ site.name }}</h2>
            {{ site.shortDesc | markdownFilter | safe }}
          </article>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
