<footer role="contentinfo" class="site-foot">
  <div class="site-foot__wrapper">
    <div class="site-foot__row">
      {% svg "logo" %}
      {% if footer.items %}
        {% for item in footer.items %}
          <ul class="site-foot__link-list">
            <li class="site-foot__link-list-item site-foot__link-list-item--header">
              <a {% if item.url %}href="{{ item.url }}"{% endif %} class="site-foot__link">{{ item.text }}</a>
            </li>
          {% if item.items %}
            {% for item in item.items %}
              <li class="site-foot__link-list-item">
                <a href="{{ item.url }}" class="site-foot__link">{{ item.text }}</a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="site-foot__row">
      <div class="site-foot__credit">
        <p>Copyright ©<span id="copyright-year"></span> Tway. All rights reserved.</p>
        <script>
          document
            .getElementById('copyright-year')
            .innerText = new Date().getFullYear();
        </script>
      </div>
      {% include "partials/components/social-icons.njk" %}
    </div>
  </div>
</footer>