{% from "macros/macros.njk" import component with context%}

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set portfolioListHeading = portfolioHeading %}
{% set portfolioListItems = collections.portfolioFeed %}


{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {{ component('hero', {
      heroHeading: heroHeading,
      heroHeading2: heroHeading2,
      heroHeading3: heroHeading3,
      heroImage: heroImage,
      heroContact: heroContact
    }) }}

    {% include 'partials/components/page-sections.njk' %}
  </main>
{% endblock %}