{% extends 'layouts/base.njk' %}
{% from "macros/macros.njk" import component %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {# {{ component('hero', {
      heroHeading: title,
      heroSummary: bannerSummary,
      heroImage: bannerImage
    }) }} #}
    <section class="page{% if leftNavFilter.length %} page--left-nav{% endif %}">
      <header class="page__header">
        <h2 class="page__header-title">{{ title }}</h2>
        <div class="page__header-summary">{{ headerSummary | safe }}</div>
      </header>
      <div class="page__body">
        {{ content | safe }}
        {% include 'partials/components/page-sections.njk' %}
          {% if leftNavFilter.length %}
            {{ component('left-nav', {
              navigationItems: navigation.items,
              leftNavFilter: leftNavFilter
            }) }}
          {% endif %}
      </div>
    </section>
  </main>
{% endblock %}

{{ content | safe }}
