{% extends 'layouts/base.njk' %}
{% from "macros/macros.njk" import component, button_link %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <section class="page{% if leftNavFilter.length %} page--left-nav{% endif %}">
      <header class="page__header">
        <div class="page__header-column">
          <h2 class="page__header-title">{{ title }}</h2>
          <div class="page__header-summary">{{ headerSummary | safe }}</div>
            {% if headerButtonText.length and headerButtonURL.length %}
              <div class="page__header-button">
                {{ button_link(headerButtonText, headerButtonURL, true) }}
              </div>
            {% endif %}
        </div>
        <div class="page__header-column">
          {% if headerImageURL.length %}
            {% image headerImageURL, headerImageAlt, "page__header-photo", "lazy", "100vw", ['300', '400', '576', '600', '730'] %}
          {% endif %}
        </div>
      </header>
      <div class="page__body">
        {{ content | safe }}
        {% include 'partials/components/page-sections.njk' %}
          {% if leftNavFilter.length %}
            {{ component('left-nav', {
              navigationItems: navigation.items,
              leftNavFilter: leftNavFilter
            }) }}
          {% endif %}
      </div>
    </section>
  </main>
{% endblock %}

{{ content | safe }}
