{% if postListItems.length %}
  <section class="insights-list">
    <div class="panel__container">
      <h2 class="panel__heading">{{ postListHeading }}</h2>
      <ol class="insights-list__items" reversed>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="insights-list__item">
              <h3>
                <a href="{{ item.url }}" class="insights-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>
              <p>
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
