  <section class="services">
    <div class="panel__container">
      <h2 class="panel__heading">{{ servicesHeading }}</h2>
      <ul class="services__items">
        <li class="services__item animate__animated animate__backInLeft">Website Development</li>
        <li class="services__item animate__animated animate__backInLeft">E-commerce</li>
        <li class="services__item animate__animated animate__backInLeft">UX/UI Design</li>
        <li class="services__item animate__animated animate__backInLeft">SharePoint Development</li>
        <li class="services__item animate__animated animate__backInLeft">Craft CMS</li>
        <li class="services__item animate__animated animate__backInLeft">JAMstack</li>
        <li class="services__item animate__animated animate__backInLeft">Shopify</li>
    </ul>
  </div>
</section>
