:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #{get-color('light')};
  --color-bg-glare: #{get-color('light')};
  --color-text: #{get-color('dark')};
  --color-text-glare: #{get-color('dark')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('dark')};
  --color-stroke: #{get-color('mid')};
  --color-action-bg: #{get-color('primary')};
  --color-action-text: #{get-color('light')};
  --color-theme-primary: #{get-color('primary')};
  --color-theme-primary-glare: #{get-color('primary-glare')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('highlight')};
  --color-theme-toggle-shadow: 0 0 5px 1.66px lightyellow, 0 0 8.33px 5px #f0f, 0 0 11.66px 7.5px #0ff, 0 0 23.33px 10px #2121;

  --color-theme-icon: rbg(105, 105, 105); //fallback
  --color-theme-icon: radial-gradient(circle, rgba(105,105,105,0.9684049684542587) 64%, rgba(162,168,174,1) 79%, rgba(110,110,105,1) 95%);


}

@include dark-mode() {
  --color-bg: #{get-color('dark')};
  --color-bg-glare: #{get-color('slate')};
  --color-text: #{get-color('light')};
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};
  --color-stroke: #{get-color('slate')};
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #{get-color('dark')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('slate')};
  --color-theme-feature-text: #{get-color('highlight')};
  --color-theme-toggle-shadow: 0 0 5px 1.66px #FFDE0100, 0 0 8.33px #FFDE0060, 0 0 11.66px 7.5px #FFDE00, 0 0 23.33px 10px #87CEEB;
  --color-theme-icon: #FFDE00;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
