:root {
  // Pull the tokens and generate custom props
  @each $color in $colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // global variables
  --theme-box-shadow: #{0 0 0.4px rgb(0 0 0 / 1%), 0 0 1px rgb(0 0 0 / 2%),
    0 0 1.9px rgb(0 0 0 / 3%), 0 0 3.4px rgb(0 0 0 / 3%), 0 0 6.3px rgb(0 0 0 / 4%),
    0 0 15px rgb(0 0 0 / 5%)};
  --theme-box-shadow-bottom: #{0 0.4px 0 rgb(0 0 0 / 1%), 0 1px 0 rgb(0 0 0 / 2%),
    0 1.9px 0 rgb(0 0 0 / 3%), 0 3.4px 0 rgb(0 0 0 / 3%)};

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #{get-color(white)};
  --color-bg-light: #{get-color('green')};
  --color-text: #{get-color(black)};
  --color-text-glare: #{get-color(black)};
  --color-selection-text: #{get-color(white)};
  --color-selection-bg: #{get-color(black)};
  --color-stroke: #{get-color(grey)};
  --color-action-bg: #{get-color(white)};
  --color-action-text: #{get-color(black)};
  --color-theme-primary: #{get-color('primary')};
  //--color-theme-primary-light: #{get-color('primary-light')};
  --color-theme-highlight: #{get-color('primary')};
  --color-theme-highlight-block: #{get-color('primary')};
  --color-theme-icon: #{get-color('primary')};

  //for dark mode toggle button
  --color-theme-toggle-icon: #{get-color(white)};
  --color-theme-toggle-bg: #{get-color('primary')};

  // nav
  --color-nav-menu-text: #{get-color(black)};
  --color-nav-menu-bg: #{get-color(white)};
  --color-nav-active-accent: #{get-color('primary')};

  // hero
  --color-hero-heading: #{get-color(white)};
}

@include dark-mode() {
  --color-bg: #{get-color(black)};
  --color-bg-light: #{get-color('slate')};
  --color-text: #{get-color(white)};
  --color-selection-text: #{get-color(black)};
  --color-selection-bg: #{get-color(white)};
  --color-stroke: #{get-color('slate')};
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-lighter: #{get-color(white)};
  --color-action-bg: #{get-color(white)};
  --color-action-text: #{get-color(black)};
  --color-theme-highlight: #{get-color('primary')};
  --color-theme-highlight-block: #{get-color('slate')};
  --color-theme-feature-text: #{get-color(white)};
  --color-theme-icon: #{get-color(white)};

  // for dark mode toggle button
  --color-theme-toggle-icon: #{get-color(white)};
  --color-theme-toggle-bg: #{get-color('primary')};

  // nav
  --color-nav-menu-text: #{get-color('black')};
  --color-nav-menu-bg: #{get-color(white)};
  --color-nav-active-accent: #{get-color('primary')};

  // hero
  --color-hero-heading: #{get-color(white)};
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
