 @font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-weight: 400;
   src: local('Heebo'),
     url('/fonts/Heebo-Regular.woff2') format('woff2');
   font-display: swap;
 }

 @font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  src: local('Heebo Light'),
    url('/fonts/Heebo-Light.woff2') format('woff2');
  font-display: swap;
}

 @font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-weight: 500;

   src: local('Heebo Medium'), local('Heebo-Medium'),
     url('/fonts/Heebo-Medium.woff2') format('woff2');
   font-display: swap;
 }

 @font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-weight: 700;
   font-weight: 700;
   src: local('Heebo Bold'), local('Heebo-Bold'),
     url('/fonts/Heebo-Bold.woff2') format('woff2');
  font-display: swap;
 }

 @font-face {
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   src: local('Oxygen'), local('Oxygen Regular'), local('Oxygen-Regular'),
     url('/fonts/Oxygen-Regular.woff2') format('woff2');
   font-display: swap;
 }

 @font-face {
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 300;
   src: local('Oxygen Light'), local('Oxygen-Light'),
     url('/fonts/Oxygen-Light.woff2') format('woff2');
   font-display: swap;
 }

 @font-face {
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 700;
   src: local('Oxygen Bold'), local('Oxygen-Bold'),
     url('/fonts/Oxygen-Bold.woff2') format('woff2');
   font-display: swap;
 }

body {
  font-family: get-font(serif);
}
 
 h1,
 h2,
 h3 {
  font-family: get-font(base);
}

h1 {
  font-size: get-font-size(700);
}

h2 {
  font-size: get-font-size(500);
}

h3 {
  font-size: get-font-size(base);
}


@include media-query('md') {
   h1 {
     font-size: get-font-size(900);
     font-weight: 500;
   }

  h2 {
     font-size: get-font-size(700);
   }

   h3 {
    font-size: get-font-size(600);
   }

}
