/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lora Bold'), local('Lora-Bold'),
    url('/fonts/lora-v13-latin-700.woff') format('woff');
}


// @font-face {
//   font-family: 'Quicksand';
//   font-style: normal;
//   font-weight: 400;
//   font-weight: 400;
//   src: local('Quicksand'),
//     url('/fonts/Quicksand-Regular.woff2') format('woff2');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Quicksand';
//   font-style: normal;
//   font-weight: 500;
//   font-weight: 500;
//   src: local('Quicksand Medium'), local('Quicksand-Medium'),
//     url('/fonts/Quicksand-Medium.woff2') format('woff2');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Quicksand';
//   font-style: normal;
//   font-weight: 700;
//   font-weight: 700;
//   src: local('Quicksand Bold'), local('Quicksand-Bold'),
//     url('/fonts/Quicksand-Bold.woff2') format('woff2');
//  font-display: swap;
// }

// @font-face {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: local('DM Sans'), local('DMSans'), local('DM Sans Regular'), local('DMSans Regular'), local('DMSans-Regular'),
//     url('/fonts/DMSans-Regular.woff2') format('woff2'), url('/fonts/DMSans-Regular.woff') format('woff');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 500;
//   src: local('DM Sans Medium'), local('DMSans Medium'), local('DMSans-Medium'), local('DM Sans-Medium'),
//     url('/fonts/DMSans-Medium.woff2') format('woff2'), url('/fonts/DMSans-Medium.woff') format('woff');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   src: local('DM Sans Bold'), local('DMSans Bold'), local('DMSans-Bold'), local('DM Sans-Bold'),
//     url('/fonts/DMSans-Bold.woff2') format('woff2'), url('/fonts/DMSans-Bold.woff') format('woff');
//   font-display: swap;
// }

body {
  font-family: get-font(base);
}
 
 h1,
 h2,
 h3 {
  font-family: get-font(base);
}

h1 {
  font-size: get-font-size(600);
}

h2 {
  font-size: get-font-size(500);
}

h3 {
  font-size: get-font-size(base);
}


@include media-query('md') {
   h1 {
     font-size: get-font-size(900);
     font-weight: 500;
   }

  h2 {
     font-size: get-font-size(700);
   }

   h3 {
    font-size: get-font-size(600);
   }

}
