@import 'config';

// Local mixins
@import 'mixins/reference';

@import 'functions/get-functions';
@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */
 * {
  box-sizing: border-box
}

:after,:before {
  box-sizing: inherit
}

body,dd,dl,dt,figcaption,figure,h1,h2,h3,h4,li,ol,p,ul {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  min-height: 100vh;
  scroll-behavior: smooth;
}

ol[class],ul[class] {
  list-style: none
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: pointer
}

input::-webkit-input-placeholder,select::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  line-height: normal
}

 @media(prefers-reduced-motion:reduce) {
   * {
       -webkit-animation: none!important;
       animation: none!important;
       scroll-behavior: auto!important;
       transition: none!important;
   }
 }

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  background: var(--color-stroke);
  border: none;
  display: block;
  height: 1px;
  margin: get-size(900) auto;
  max-width: 500px;
}

// For when metric attributes are added to img elements
img {
  height: auto;
  max-width: 100%
}

:focus {
  outline: 1px solid var(--color-theme-primary-glare);
  outline-offset: 0.25rem;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/visually-hidden';

// Components
@import 'components/reference';